__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.Python
.env
.venv
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.spec
htmlcov/
.tox/
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.vscode/
.idea/
*.sublime-workspace
*.json
shoppinglist.json
*.csv
/tmp/.keylog.txt
/tmp/*
log/
logs/
*.log
node_modules/
jspm_packages/
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
*.bak
*.swp
~*
.keylogger.txt